.dashboard-header {
    display: flex;
    justify-content: space-between;

    .dashboard-greeting {}

}

.student-dashboard-notification {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #D1E49C;
    outline: none;

}